
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Remove MCP 1.6.4#
Source\ 1.6.4/conf
Source\ 1.6.4/docs
Source\ 1.6.4/lib
Source\ 1.6.4/jars
source\ 1.6.4/logs
Source\ 1.6.4/minecraft
Source\ 1.6.4/eclipse
Source\ 1.6.4/runtime
Source\ 1.6.4/temp
Source\ 1.6.4/*.sh
Source\ 1.6.4/*.bat
Source\ 1.6.4/*.txt
Source\ 1.6.4/*.sh
Source\ 1.6.4/CHANGELOG*

# Remove MCP 1.7.10#
Source\ 1.7.10/conf
Source\ 1.7.10/docs
Source\ 1.7.10/lib
Source\ 1.7.10/jars
source\ 1.7.10/logs
Source\ 1.7.10/minecraft
Source\ 1.7.10/eclipse
Source\ 1.7.10/runtime
Source\ 1.7.10/temp
Source\ 1.7.10/*.sh
Source\ 1.7.10/*.bat
Source\ 1.7.10/*.txt
Source\ 1.7.10/*.sh
Source\ 1.7.10/CHANGELOG*


# Remove MinecraftSource
Source\ 1.7.10/bin/minecraft/net
Source\ 1.7.10/bin/minecraft/Start.class
Source\ 1.7.10/src/minecraft/net
Source\ 1.7.10/src/minecraft/Start.java